<div class="container lightbgd minHeight">
  <div class="row">
    <h1>About the Belgian Bitcoin Association</h1>
    <div class="col-md-8 top-buffer">
      <p>
      The Belgian Bitcoin association is organized under the form of an ASBL/VZW.
      It was founded on November 20th 2013, and officially registered on 
      February 13th, 2014.	Membership to the association is open.
      </p>
      <p>
      The association is run day-by-day by a Board of Directors. Directors have 
      been elected by the members present at the foundation meeting, after a call for candidates.
      </p>
      <p>Download the charter of the Belgian Bitcoin Association:</p>
      <ul>
        <li><a href="/files/BBA-Charter-NL-20140213.pdf">Nederlandstalige versie</a></li>
        <li><a href="/files/BBA-Charter-FR-20140213.pdf">Version française</a></li>
        <li><a href="/files/BBA-Charter-EN-20140213.pdf">English version</a></li>
      </ul>
    </div>
    <div class="col-md-4 top-buffer">
      <img src="/assets/img/bba-logo-orange.png" class="pull-right logo">
    </div>
  </div>
  <div class="row">
    <h2>Contact</h2>
    <table id="contactTable">
      <tr><td class="head">E-mail address</td><td><a href="mailto:info@bitcoinassociation.be">info@bitcoinassociation.be</a></td></tr>
      <tr><td class="head">Postal address</td><td>Belgian Bitcoin Association<br/>
          Avenue de l'Emeraude 57 / Smaragdlaan 57 <br />
          1030 Brussels <br />
          Belgium</td></tr>
      <tr><td class="head">Registration number</td><td>0546.540.263</td></tr>
    </table>
  </div>
  <div class="row">
    <h3>Board of Directors</h3>	
    <div class="col-md-4 top-buffer">
      <div class="polaroid">
        <img class="smallimg" src="../assets/img/abrutschy2.png">
        <h4>
          Arne Brutschy
        </h4>
        <p>
        German national Arne is formally trained as computer scientist, he currently works as a researcher in artificial intelligence and swarm robotics at IRIDIA in the University of Brussels. As a Bitcoin evangelist and entrepreneur, he is well known in the Bitcoin scene and is the Brussels Bitcoin Meetup Group co-founder.
        </p>
      </div>
    </div>
    <div class="col-md-4 top-buffer">
      <div class="polaroid">
        <img class="smallimg" src="../assets/img/jduboislacoste.png">
        <h4>
          Jérémie Dubois-Lacoste
        </h4>
        <p>
        French born Jérémie is a post-doc researcher at IRIDIA, the artificial intelligence laboratory of the University of Brussels. He is known on the Bitcoin circuit as having a deep knowledge of the Bitcoin Protocol, has appeared on radio and television and is a co-founder of the Brussels Bitcoin Meetup Group.
        </p>
      </div>
    </div>
    <div class="col-md-4 top-buffer">
      <div class="polaroid">
        <img class="smallimg" src="../assets/img/cdcosta2.png">
        <h4>
          Chris D’Costa
        </h4>
        <p>
        Chris is a native Brit living and working in Belgium. For the last fifteen years he has worked as an independant tech consultant. He writes a bitcoin blog <a href="http://blog.sossee.com">"With this in Mind"</a>. He has a good technical knowledge of Bitcoin and since been working on a private project to build a hardware bitcoin wallet called Meek.    
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 top-buffer">
      <div class="polaroid">
        <img class="smallimg" src="../assets/img/froose2.png">
        <h4>
          Filip Roose
        </h4>
        <p>
        Filip is a self-employed Belgian Entrepreneur working with various businesses including 3D printing, Bitcoin mining, Bitcoin payment processing and other projects. Filip is passionate about innovation and a hands-on type of person, featuring recently on Belgian radio. "Standing still isn’t an option". Involved in Bitcoin since block #227676.
        </p>
      </div>
    </div>
    <div class="col-md-4 top-buffer">
      <div class="polaroid">
        <img class="smallimg" src="../assets/img/tspaas2.png">
        <h4>
          Thomas Spaas
        </h4>
        <p>
        Thomas Spaas is a lawyer specialising in Belgian and International taxation with a passion for Bitcoin. Within the Belgian Bitcoin Association, Thomas focuses on the regulatory aspects of Bitcoin in general and on providing legal support to the association and its members. He is a Bitcoin enthiusiast having used coins since 2012.
        </p>
      </div>
    </div>
    <div class="col-md-4 top-buffer">
      <div class="polaroid">
        <img class="smallimg" src="../assets/img/jwallemacq2.png">
        <h4>
          Jean Wallemacq
        </h4>
        <p>
        Jean is an executive with 20+ years experience in the financial sector. He specializes in Process Improvements, Organization and IT. Jean is a Bitcoin enthusiast with a strong voice in the Belgian Bitcoin community. He understands that Bitcoin has the potential to shake-up the way we all do business and plays an active part in the association.
        </p>
      </div>
    </div>
  </div>
</div>
