<div id="main" class="jumbotron lightbgd">
  <div class="container">
    <div class="row">
      <div class="span4">
        <img src="/assets/img/bba-logo-orange.png" class="pull-left logo">
      </div>

    </div>
    <div class="row">
      <div class="span8">
        <h1>
          Bitcoin in Belgium
        </h1>
        <p>
        Our mission: promote the use of Bitcoin and represent the interests of the Belgian Bitcoin community. <br/><br/>
        </p>
        <!-- <p>
        Our purpose is to promote and educate whilst at the same time providing
        expert legal and technical advice to our members.
        </p>
        <p>
        We also represent our member's interests to policy makers at the regional,
        national and international level as well as playing our part in representing
        Belgium to the worldwide Bitcoin community.
        </p> -->

        <div>
          <a class="btn btn-primary btn-lg" href="#/about">Contact Us</a>
          <a class="btn btn-primary btn-lg" href="http://eepurl.com/4Lau1">Subscribe to our Newsletter</a>
        </div>
      </div>
    </div>
    <br/>
    <p>
    </p>
    <p>
    </p>
    <div class="row">
      <div class="col-md-4">
        <h2>
          Support
        </h2>
        <p>
        Our primary purpose is to support our members in their efforts and to promote Bitcoin use. On a wider level we provide support in government policy making, business and technical expertise.  
        </p>
        <p>
        <a class="btn btn-default btn-medium" href="#/home?scrollTo=support">Learn more</a>
        </p><br/>
      </div>
      <div class="col-md-4">
        <h2>
          Represent
        </h2>
        <p>
        We represent the interests of our Belgian membership towards national government and international agencies and organizations. We also represent Belgium in the global Bitcoin community. 
        </p>
        <p>
        <a class="btn btn-default btn-medium" href="#/home?scrollTo=represent">Learn more</a>
        </p><br/>
      </div>
      <div class="col-md-4">
        <h2>
          Clarify
        </h2>
        <p>
        There are many myths surrounding Bitcoin. We aim
        to bring truth and clarity to the discussion, providing education in an open way and raising awareness across the country. Bitcoin is really not so mysterious.
        </p>
        <p>
        <a class="btn btn-default btn-medium" href="#/home?scrollTo=clarify">Learn more</a>
        </p><br/>
      </div>
    </div>
  </div>
</div>
<div id="support" class="jumbotron lightbgd">
  <div class="container">
    <div class="starter-template">
      <h1>
        Support, education and promotion
      </h1>
      <p class="lead">
      Once you start using Bitcoins you quickly learn how easy and flexible it is. But we know that at the beginning everybody needs some help and support.</p><p class="norm">All of us in the Bitcoin community have gone through this learning phase so we are in a good position to help share the knowledge. </p><p class="norm">Bitcoin is designed to allow you to become your own bank, and because of this you will need to think about your money and it's security much more carefully.

      </p><p class="norm">That's why we provide information in the form of courses, workshops, and in-person support both practical and technical. We focus on all our members and their needs, beginners and experts alike.
      </p>
      <p>
      <a class="btn btn-default btn-medium" href="#">Back to top</a>
      </p>
    </div>
  </div>
</div>
<div id="represent" class="jumbotron lightbgd">
  <div class="container">
    <h1>
      Representing Bitcoin in Belgium and beyond
    </h1>
    <p>
    As a group we represent our members towards policy makers, the national bank, the press/media and any other interested party.

    </p><p class="norm">Bitcoin is like nothing the world has ever known before. Therefore it is normal that our members may have difficulty understanding how to apply relevant laws and regulations. Indeed even the law makers do not fully understand this new technology yet.
    </p><p class="norm">Because we represent our members and our directors are already experienced professionals, users and technologists, we are able to represent the technology fairly in all the major forums.
    </p>
    <p>
    <a class="btn btn-default btn-medium" href="#">Back to top</a>
    </p>
  </div>
</div>
<div id="clarify" class="jumbotron lightbgd">
  <div class="container">
    <h1>
      Providing clarity and understanding
    </h1>
    <p>
    The word about Bitcoin is spreading fast but often good information gets lost leading to misconceptions, especially in the media. 
    </p><p class="norm">
    As a group of specialists, the Belgian Bitcoin Association works hard to clarify all aspects of Bitcoin, from the day-to-day transactions to the security and cryptography aspects.
    </p><p class="norm">
    Our interest is to support Bitcoin, and a duty to provide the best, most accurate information we can.
    </p>
    <p>
    <a class="btn btn-default btn-medium" href="#">Back to top</a>
    </p>
  </div>
</div>
