<div class="container lightbgd minHeight">
  <div class="row">
    <h1>Become a member!</h1>

    <div class="col-md-12">
      <h4>Benefits of a membership:</h4>
      <ul id="benefitList">
        <li> Technical, legal and accounting advice on using and accepting bitcoins either as a business or an individual.  </li>
        <li> Education and workshop sessions. </li>
        <li> Ability to suggest, contribute and develop the promotion of Bitcoin use in Belgium on behalf of the association. </li>
        <li> Participation in events organised by the association. </li>
        <li> Name featured on our website (only if you agree to this). </li>
      </ul>

      <div class="col-md-12">
        <h4>There are two categories of membership:</h4>
        <div class="col-md-9">
          <table id="membershipTable">
            <tr><th>Category</th><th>Fee</th><th>Sign up</th></tr>
            <tr><td>private</td><td>60€/year<sup>*</sup></td><td><a href="http://www.bitcoinassociation.be/individual_registration">click here</a></td></tr>
            <tr><td>business<br>(startup)</td><td>100€/year<sup>*</sup></td><td><a href="https://docs.google.com/forms/d/1WPEK1bSe32TDq3hoSJZTHul_nNUZ1XkMohbCgcbxKqI/viewform">click here</a></td></tr>
            <tr><td>business<br>(turnover below 250k&euro;)</td><td>500€/year<sup>*</sup></td><td><a href="https://docs.google.com/forms/d/1WPEK1bSe32TDq3hoSJZTHul_nNUZ1XkMohbCgcbxKqI/viewform">click here</a></td></tr>
            <tr><td>business<br>(turnover below 1M&euro;)</td><td>2000€/year<sup>*</sup></td><td><a href="https://docs.google.com/forms/d/1WPEK1bSe32TDq3hoSJZTHul_nNUZ1XkMohbCgcbxKqI/viewform">click here</a></td></tr>
            <tr><td>business<br>(turnover over 1M&euro;)</td><td>Please contact us!</td><td><a href="https://docs.google.com/forms/d/1WPEK1bSe32TDq3hoSJZTHul_nNUZ1XkMohbCgcbxKqI/viewform">click here</a></td></tr>
          </table>
       </div>
        <div class="col-md-3 top-buffer">
          <p><sup>*</sup> Introductory fees are valid up to the first Annual General Meeting.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- Types -->
      <h2>Types of Membership</h2>

      <p>There are two types of memberships. Both types have the same benefits as listed above, but differ in the rights and obligations towards the association.</p>

      <div class="col-md-6">
        <!-- Adhering -->
        <h3>Adhering Members</h3>This is the most basic form of membership. All members who join, must become Adhering Members for the first six months of membership. After six months members are converted to Full Membership status.</p>
        <p> <strong>Rights</strong>
        Adhering members have the right to participate in the general assembly as an observer but do not have voting powers.
        </p>
      </div>

      <div class="col-md-6">
        <!-- Full -->
        <h3>Full Members</h3>
        <p>Full members are expected to make an active contribution to support the association in any way that is within their means. For example by volunteering, organising events, etcetera. </p>
        <p> <strong>Rights</strong>
        Full members have the following rights: </p>
        <ol>
          <li> to determine the course of the association </li>
          <li> to vote in the general meetings </li>
          <li> to nominate directors </li>
          <li> to be eligible to put themselves forward for membership of the board of directors, when a position becomes available.  </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Current Members</h2>
      <p>Listed below are the members that have opted to publish their names on this page. If your name is not present here and want to have your name published, please contact us  at <a href="mailto:info@bitcoinassociation.be">info@bitcoinassociation.be</a>.</p>

      <div class="col-md-12" >
        <h3>Individual</h3>
        <div class="col-md-4" >
          <ul>
            <li>Jean Wallemacq <em>(founder)</em></li>
            <li>Chris D‘Costa  <em>(founder)</em></li>
            <li>Arne Brutschy <em>(founder)</em></li>
            <li>Jérémie Dubois-Lacoste <em>(founder)</em></li>
            <li>Filip Roose <em>(founder)</em></li>
            <li>Thomas Spaas <em>(founder)</em></li>
            <li>Arnaud Kodeck <em>(founder)</em></li>
          </ul>
        </div>
        <div class="col-md-4" >
          <ul>
            <li>David Boveington-Fauran <em>(founder)</em></li>
            <li>David Leben <em>(founder)</em></li>
            <li>Renaud Valkenberg <em>(founder)</em></li>
            <li>Xavier Debecq</li>
            <li>Michelangelo van Dam</li>
            <li>Alex Gamby</li>
            <li>Serge Schouterden</li>
          </ul>
        </div>
        <div class="col-md-4" >
          <ul>
            <li>Jean-Pierre Buntinx</li>
            <li>Dimitri	Dhuyvetter</li>
            <li>Keanu Van Hees</li>
            <li>Andreas	Wauters</li>
            <li>+ 4 members that wish to remain anonymous</li>
          </ul>
        </div>
      </div>              

      <div class="col-md-12" >
        <h3>Business</h3>
        <div class="col-md-4" >
          <ul>
            <li>XPERT.-SYS SPRL <em>(founder)</em></li>
          </ul>
        </div>
        <div class="col-md-4" >
          <ul>
            <li>LAKOCO SPRL <em>(founder)</em></li>
          </ul>
        </div>
        <div class="col-md-4" >
          <ul>
            <li>CORIUS BVBA <em>(founder)</em></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
