<div class="container lightbgd minHeight">
  <div class="row">
    <h1>Press</h1>
    <div class="col-md-8">
      <h3>Press Releases</h4>
      <ul>
        <li><a href="/news/blog/2014/03/17/bitcoin-accepted-by-belgian-scientific-conference/">Mar 17th, 2014: Bitcoin Accepted by Belgian Scientific Conference</a></li>
        <li><a href="/news/blog/2014/02/25/possible-insolvency-of-mtgox/">Feb 25th, 2014: Possible Insolvency of MtGox</a></li>
        <li><a href="/news/blog/2014/02/13/official-registration/">Feb 13th, 2014: Official Registration</a>
      </ul>
      <p>For a full list of our press releases, <a href="/news/blog/categories/press-release/">please see the relevant news category.</a></p>


      <h3>In the Press</h4>
      <p>For all appearances of the Belgian Bitcoin Association in the press, <a href="/news/blog/categories/in-the-press/">please see the relevant news category.</a></p>


      <h3>Press Contact</h4>
      <p>
      <a href="mailto:press@bitcoinassociation.be">press@bitcoinassociation.be</a> (Nederlands/Français/English/Deutsch)
      </p>
    </div>
  </div>
</div>
